{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center align-items-center">
    <div class="col-lg-10 col-md-12 col-sm-12 text-center">
        <h1 class="mb-4">Translate</h1>

        <form id="translate-form" method="POST">
            {{ form.csrf_token }}

            <div class="icon-container d-flex justify-content-center mb-3">
                <div>
                    <h4 id="source-language" class="mb-0">English</h4>
                </div>
                <div class="mt-1">
                    <i id="switch-direction" class="fas fa-exchange-alt"></i>
                </div>
                <div>
                    <h4 id="target-language" class="mb-0">Chinese</h4>
                </div>
            </div>

            <div class="row justify-content-center translate box">
                <div class="col-md-6 mb-md-0">
                    <div class="form-group row ">
                        <div class="col">
                            {{ form.word(size=35, rows=4, id='word', class="form-control custom-textarea",
                            onkeydown="handleEnter(event)") }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="white-box">
                        <div id="translation-container">
                            <p id="translation"></p>
                            <p id="pinyin"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col text-center">
                    <button type="submit" class="btn custom-btn-primary mx-auto">Translate</button>
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock %}